body {
    background-image: url('../img/wallhaven-34478.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    box-shadow: 0 0 30px green;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 30px !important;
}

.navbar {
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 10px 30px blue;
    padding-right: 10px;
}

.modal-content {
    background-color: black;
    box-shadow: 0 0 40px blue;
}

.list-group-item {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.list-group-item:hover {
    box-shadow: 0 0 20px blue;
}

.list-group-item:first-child {
    margin-top: 0;
}

.panel {
    background-color: black;
}


h4.greetings {
    margin-right: 10px;
    margin-top: 18px;
}

li .btn {
    margin-top: 8px;
}

li .btn.btn-danger {
    background-color: rgba(0, 0, 0, .0);
}

footer .well {
    background-color: rgba(0, 0, 0, .9);
    box-shadow: 0 0 30px yellow;
}