body {
    background-image: url('../img/wallhaven-34478.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

figure {
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    margin-bottom: 10px;
}

input[value="Search"] {
    margin-left: 10px;
}

div.navbar-header *{
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
h1, h2{
    color: #fff;
}
#baner{
    display: block;
    margin: 0 auto;
    max-width: 200px;
}
#about-info{
    list-style-type: none;
    text-align: center;
}
.list-group-item:first-child, .list-group-item:last-child{

   /* border: 1px solid #555; */
}
.container{
    color: #fff;
}
.jumbotron {
    color: #fff;
    /*box-shadow: 0 0 30px green; */
    background-color: rgba(0, 0, 0, .9);
    border-radius: 30px !important;
}

.navbar {
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 10px 30px blue;
    padding-right: 10px;
}
.modal-content {
    background-color: black;
    /*box-shadow: 0 0 40px blue;*/
}

.list-group-item {
    border: 0;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.list-group-item:hover {
    box-shadow: 0 0 20px blue;
}

.list-group-item:first-child {
    margin-top: 0;
}

.panel {
    background-color: black;
}


h4.greetings {
    margin-right: 10px;
    margin-top: 18px;
}

li .btn {
    margin-top: 8px;
}

li .btn.btn-danger {
    background-color: rgba(0, 0, 0, .0);
}

footer .well {
    background-color: rgba(0, 0, 0, .9);
    /*box-shadow: 0 0 30px yellow;*/
    margin-top: 20px;
}
.title{
    font-color: #ffffff;
}

.hidden-overflow {
    overflow: hidden;
}

.img-responsive {
    border-radius: 20px;
}

.butt-group{
    margin-top: 70px; 
}

.butt-group #right-butt{
    float: right;
    background-color: #3498db;
}
.butt-group #right-butt:hover{
    background-color: #0067DC;
}

.butt-group #left-butt{
    background-color: #3498db;
}
.butt-group #left-butt:hover{
    background-color: #0067DC;
}
#news-pic{
    width: 300px;
}

.news-img-section{
    margin-bottom: 40px;
    border-bottom: 2px solid #3498db;
}
.news-img-section img{
    display: inline-block;
}
.news-img-section aside{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: 50px;
}
.news-img-section aside h2{
    margin: auto;
    display: block;
    text-align: center;
}
.form-group{
    border-bottom: 1px solid grey;    
    margin-bottom: 20px;
}
.upl-img-file{

}
.upl-img-name{
    display: inline-block;
    margin-bottom: 20px;
    width: 40%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.figure-holder {
    position: relative;
}

.delete-btn {
    position: absolute;
    right: 20px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url('../img/redX.png') center no-repeat;
    border: none;
}